* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;

}

.section {
    background: linear-gradient(to right, #e2e9f5, rgb(241, 240, 240));
}
.section0 {
    background: linear-gradient(to right, white, #f1ebc2);
}
.section1 {
    background-image: url('../images/Hero.png');
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.section1 .navbar {
    background-color: black;
    width: 100%;
    position: fixed;
    height: 70px;
    border-bottom: 1px white solid;
    z-index: 1000;
}

.navbar * {
    color: white;
    font-family: 'Bodoni MT';
    font-size: 30px
}

.navbar #brand {
    /* background: linear-gradient(to right, #1f6b1f, #ff6b5a, #1f6ae1, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-size: 50px;
    font-weight: bold;
}
.navbar .nav-item:hover {
    text-decoration: underline solid 3px white;
    color: white;
}

.navbar .navbar-nav {
    margin-left: 30px;
}

.navbar .nav-item a:hover {
    color: white;
}

.form-control {
    background-color: #222;
    outline: none;
    border: none;
    box-shadow: 0px 0px 1px white;
    border-radius: 30px;
}

.section1 header h1 {
    font-size: 50px;
    position: relative;
    top: 100px;
    left: 50px;
    width: 600px;
    color: white;
    font-size: bold;
    font-weight: bold;
}
.section1 header .headeBtn {
    position: relative;
    top: 100px;
    left: 50px;
    padding: 10px;
    width: 550px;
    background-color: white;
    border: none;
    font-size: 30px;
    border-radius: 30px;
    color: #1f6ae1;
    }

/* section2 */
.section2 {
    margin-top: 100px;
}
.section2 h1 {
    font-size: 40px;
    color: black;
    font-weight: bold;
}

   .section2 .col p {
       font-size: 23px;
}

/* section3 */
.section3 {
    margin-top: 40px;
}

.section3 h1 {
    font-weight: bold;
}
.section3 .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.section3 .grid .card {
    height: 100px;
    padding: 10px;
    box-shadow: 0px 10px orange;
    transition: 0.4s ease;
}

.section3 .grid .card:hover {
    border: 4px solid black;
    box-shadow: none;
    padding: 10px 2px;
}

.section3 .grid .card h5 {
    font-size: 23px;
}

/* section4 */
.section4 .col {
    border-radius: 10px;
}
.section4 .card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.section4 .card h3,
p {
    padding: 10px;
}
/* section5 */
.section5 {
    margin-top: 50px;
}

.section5 h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

.photoCol {
    position: relative;
}

.photoCol img {
    border-radius: 10px;
}

.photoCol .overlay {
    position: absolute;
    bottom: 0;
    /* متن پایین عکس */
    left: 20px;
    top: 100px;
    width: 200px;
    padding: 12px;
    color: #fff;
    text-align: center;
    text-align: left;

}

.photoCol .overlay .btnPhoto {
    background: linear-gradient(to left, black);
    padding: 10px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
}

.btnPhoto1 {
    background: linear-gradient(to left, black);
    padding: 10px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
}

.btnPhoto2 {
    background: linear-gradient(to left, black);
    padding: 10px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
}
/* section6 */
.section6 {
    margin-top: 40px;
}

.section6 h1 {
    font-size: 70px;
}

.section6 .btnWatch {
    background-color: orange;
    padding: 5px;
    width: 230px;
    color: white;
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 10px;
}

/* section7 */
.section7 {
    margin-top: 50px
}

.cont {
    background-color: white;
    padding: 20px;
}

.cont h1 {
    font-size: 60px;
    font-weight: bold;

}

.cont p {
    font-size: 20px;
}

.cont .row .col img {
    width: 700px;
    border-radius: 20px;
}

.section8 {
    margin-top: 40px;
}
.section8 .card {
    background-color: black;
    color: white;
}

.card-footer {
    background-color: white;
}