body {
    box-sizing: border-box;
    background-color: #fbf9f5;
    }

    .navbar-brand {
        font-family: 'Vazirmatn';
        font-size: 24px;
        font-weight: bold;
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: #ff6b5a;
    }

    .form .btn {
        background-color: #ff6b5a;
        width: 130px;
        color: white;
        border-radius: 30px;
    }

    .form .search {
        border-radius: 50px;
        padding: 3px 10px;
        box-shadow: 0px 0px 1px 3px rgb(248, 245, 245);
        outline: none;
        border: none;
    }

    .form .search:focus {
        border: 2px #1f6be1 solid;
    }